In [61]:
import pulp as pu
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [62]:
df = pd.read_csv('Travel details dataset.csv')
df.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost
0,1,"London, UK",5/1/2023,5/8/2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600
1,2,"Phuket, Thailand",6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500
2,3,"Bali, Indonesia",7/1/2023,7/8/2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700
3,4,"New York, USA",8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000
4,5,"Tokyo, Japan",9/10/2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200

In [63]:
df.columns

Index(['Trip ID', 'Destination', 'Start date', 'End date', 'Duration (days)',
       'Traveler name', 'Traveler age', 'Traveler gender',
       'Traveler nationality', 'Accommodation type', 'Accommodation cost',
       'Transportation type', 'Transportation cost'],
      dtype='object')

In [64]:
df.dtypes

Trip ID                   int64
Destination              object
Start date               object
End date                 object
Duration (days)         float64
Traveler name            object
Traveler age            float64
Traveler gender          object
Traveler nationality     object
Accommodation type       object
Accommodation cost       object
Transportation type      object
Transportation cost      object
dtype: object

In [67]:
def clean(df):
    df = df.str.replace("$", "")
    df = df.str.replace(",", "")
    df = df.str.replace("U", "")
    df = df.str.replace("S", "")
    df = df.str.replace("D", "")
    return df.astype('float64')

In [68]:
df['Accommodation cost'] = clean(df['Accommodation cost'])
df['Transportation cost'] = clean(df['Transportation cost'])

In [69]:
df['Cost'] = df['Accommodation cost'] + df['Transportation cost']
df['Cost'] = df['Cost'].astype('Float64')
df = df[['Destination', 'Duration (days)', 'Cost']]

df.head()

        Destination  Duration (days)    Cost
0        London, UK              7.0  1800.0
1  Phuket, Thailand              5.0  1300.0
2   Bali, Indonesia              7.0  1700.0
3     New York, USA             14.0  3000.0
4      Tokyo, Japan              7.0   900.0

In [70]:
df.dtypes

Destination         object
Duration (days)    float64
Cost               Float64
dtype: object

In [77]:
grouped_df = df.groupby('Destination', as_index=False)[['Duration (days)', 'Cost']].mean()
for i in grouped_df.columns:
    if grouped_df[i].dtype != 'object':
        grouped_df[i] = round(grouped_df[i])
grouped_df.head()

              Destination  Duration (days)    Cost
0               Amsterdam              7.0   750.0
1  Amsterdam, Netherlands              8.0  1600.0
2          Athens, Greece             10.0  1600.0
3   Auckland, New Zealand              7.0  9500.0
4               Australia             13.0  1500.0

In [78]:
prob = pu.LpProblem('Vacation', pu.LpMinimize)

In [79]:
# create desision variables
decision_variables = []
for rownum, row in grouped_df.iterrows():
    variable = 'x' + str(rownum)
    variable = pu.LpVariable(str(variable), lowBound= 0, upBound= 1, cat= 'Integer')
    decision_variables.append(variable)

print(decision_variables)

[x0, x1, x2, x3, x4, x5, x6, x7, x8, x9, x10, x11, x12, x13, x14, x15, x16, x17, x18, x19, x20, x21, x22, x23, x24, x25, x26, x27, x28, x29, x30, x31, x32, x33, x34, x35, x36, x37, x38, x39, x40, x41, x42, x43, x44, x45, x46, x47, x48, x49, x50, x51, x52, x53, x54, x55, x56, x57, x58]

In [80]:
# create the objective function , minimize the cost

total_cost = ""

for rownum, row in grouped_df.iterrows():
    for i, schedule in enumerate(decision_variables):
        if i == rownum:
            formula = row['Cost']*schedule
            total_cost += formula

prob += total_cost

print(total_cost)

750.0*x0 + 1600.0*x1 + 1425.0*x10 + 2888.0*x11 + 2100.0*x12 + 200.0*x13 + 425.0*x14 + 1925.0*x15 + 1500.0*x16 + 700.0*x17 + 5000.0*x18 + 1800.0*x19 + 1600.0*x2 + 3300.0*x20 + 1050.0*x21 + 800.0*x22 + 900.0*x23 + 1000.0*x24 + 2800.0*x25 + 4200.0*x26 + 300.0*x27 + 1300.0*x28 + 1100.0*x29 + 9500.0*x3 + 1333.0*x30 + 1500.0*x31 + 1000.0*x32 + 1300.0*x33 + 1180.0*x34 + 6250.0*x35 + 2567.0*x36 + 1500.0*x37 + 2571.0*x38 + 700.0*x39 + 1500.0*x4 + 2700.0*x40 + 1500.0*x41 + 1300.0*x42 + 1300.0*x43 + 2212.0*x44 + 1136.0*x45 + 2567.0*x46 + 1150.0*x47 + 950.0*x48 + 520.0*x49 + 2400.0*x5 + 1300.0*x50 + 1680.0*x51 + 1100.0*x52 + 1733.0*x53 + 3883.0*x54 + 350.0*x55 + 1080.0*x56 + 2314.0*x57 + 4275.0*x58 + 1440.0*x6 + 700.0*x7 + 800.0*x8 + 1333.0*x9

In [101]:
# define constraints, in this cast we only have one which is the max number of days

available_days = 15
total_days_form = ''

for rownum, row in grouped_df.iterrows():
    for i, schedule in enumerate(decision_variables):
        if i == rownum:
            formula = schedule*row['Duration (days)']
            total_days_form += formula

prob += (total_days_form == available_days)
print(total_days_form)

7.0*x0 + 8.0*x1 + 8.0*x10 + 7.0*x11 + 9.0*x12 + 9.0*x13 + 7.0*x14 + 7.0*x15 + 8.0*x16 + 9.0*x17 + 9.0*x18 + 6.0*x19 + 10.0*x2 + 7.0*x20 + 7.0*x21 + 7.0*x22 + 9.0*x23 + 8.0*x24 + 9.0*x25 + 8.0*x26 + 6.0*x27 + 8.0*x28 + 7.0*x29 + 7.0*x3 + 7.0*x30 + 7.0*x31 + 7.0*x32 + 10.0*x33 + 6.0*x34 + 7.0*x35 + 9.0*x36 + 6.0*x37 + 7.0*x38 + 5.0*x39 + 13.0*x4 + 7.0*x40 + 7.0*x41 + 5.0*x42 + 7.0*x43 + 8.0*x44 + 8.0*x45 + 7.0*x46 + 7.0*x47 + 10.0*x48 + 8.0*x49 + 9.0*x5 + 8.0*x50 + 8.0*x51 + 7.0*x52 + 9.0*x53 + 8.0*x54 + 7.0*x55 + 9.0*x56 + 8.0*x57 + 6.0*x58 + 8.0*x6 + 8.0*x7 + 7.0*x8 + 7.0*x9

In [102]:
print(prob)
prob.writeLP('Vacation')

Vacation:
MINIMIZE
750.0*x0 + 1600.0*x1 + 1425.0*x10 + 2888.0*x11 + 2100.0*x12 + 200.0*x13 + 425.0*x14 + 1925.0*x15 + 1500.0*x16 + 700.0*x17 + 5000.0*x18 + 1800.0*x19 + 1600.0*x2 + 3300.0*x20 + 1050.0*x21 + 800.0*x22 + 900.0*x23 + 1000.0*x24 + 2800.0*x25 + 4200.0*x26 + 300.0*x27 + 1300.0*x28 + 1100.0*x29 + 9500.0*x3 + 1333.0*x30 + 1500.0*x31 + 1000.0*x32 + 1300.0*x33 + 1180.0*x34 + 6250.0*x35 + 2567.0*x36 + 1500.0*x37 + 2571.0*x38 + 700.0*x39 + 1500.0*x4 + 2700.0*x40 + 1500.0*x41 + 1300.0*x42 + 1300.0*x43 + 2212.0*x44 + 1136.0*x45 + 2567.0*x46 + 1150.0*x47 + 950.0*x48 + 520.0*x49 + 2400.0*x5 + 1300.0*x50 + 1680.0*x51 + 1100.0*x52 + 1733.0*x53 + 3883.0*x54 + 350.0*x55 + 1080.0*x56 + 2314.0*x57 + 4275.0*x58 + 1440.0*x6 + 700.0*x7 + 800.0*x8 + 1333.0*x9 + 0.0
SUBJECT TO
_C1: 7 x0 + 8 x1 + 8 x10 + 7 x11 + 9 x12 + 9 x13 + 7 x14 + 7 x15 + 8 x16
 + 9 x17 + 9 x18 + 6 x19 + 10 x2 + 7 x20 + 7 x21 + 7 x22 + 9 x23 + 8 x24
 + 9 x25 + 8 x26 + 6 x27 + 8 x28 + 7 x29 + 7 x3 + 7 x30 + 7 x31 + 7 x32
 + 10 x33 + 6 x34 + 7 x35 + 9 x36 + 6 x37 + 7 x38 + 5 x39 + 13 x4 + 7 x40
 + 7 x41 + 5 x42 + 7 x43 + 8 x44 + 8 x45 + 7 x46 + 7 x47 + 10 x48 + 8 x49
 + 9 x5 + 8 x50 + 8 x51 + 7 x52 + 9 x53 + 8 x54 + 7 x55 + 9 x56 + 8 x57
 + 6 x58 + 8 x6 + 8 x7 + 7 x8 + 7 x9 = 10

_C2: 7 x0 + 8 x1 + 8 x10 + 7 x11 + 9 x12 + 9 x13 + 7 x14 + 7 x15 + 8 x16
 + 9 x17 + 9 x18 + 6 x19 + 10 x2 + 7 x20 + 7 x21 + 7 x22 + 9 x23 + 8 x24
 + 9 x25 + 8 x26 + 6 x27 + 8 x28 + 7 x29 + 7 x3 + 7 x30 + 7 x31 + 7 x32
 + 10 x33 + 6 x34 + 7 x35 + 9 x36 + 6 x37 + 7 x38 + 5 x39 + 13 x4 + 7 x40
 + 7 x41 + 5 x42 + 7 x43 + 8 x44 + 8 x45 + 7 x46 + 7 x47 + 10 x48 + 8 x49
 + 9 x5 + 8 x50 + 8 x51 + 7 x52 + 9 x53 + 8 x54 + 7 x55 + 9 x56 + 8 x57
 + 6 x58 + 8 x6 + 8 x7 + 7 x8 + 7 x9 = 15

VARIABLES
0 <= x0 <= 1 Integer
0 <= x1 <= 1 Integer
0 <= x10 <= 1 Integer
0 <= x11 <= 1 Integer
0 <= x12 <= 1 Integer
0 <= x13 <= 1 Integer
0 <= x14 <= 1 Integer
0 <= x15 <= 1 Integer
0 <= x16 <= 1 Integer
0 <= x17 <= 1 Integer
0 <= x18 <= 1 Integer
0 <= x19 <= 1 Integer
0 <= x2 <= 1 Integer
0 <= x20 <= 1 Integer
0 <= x21 <= 1 Integer
0 <= x22 <= 1 Integer
0 <= x23 <= 1 Integer
0 <= x24 <= 1 Integer
0 <= x25 <= 1 Integer
0 <= x26 <= 1 Integer
0 <= x27 <= 1 Integer
0 <= x28 <= 1 Integer
0 <= x29 <= 1 Integer
0 <= x3 <= 1 Integer
0 <= x30 <= 1 Integer
0 <= x31 <= 1 Integer
0 <= x32 <= 1 Integer
0 <= x33 <= 1 Integer
0 <= x34 <= 1 Integer
0 <= x35 <= 1 Integer
0 <= x36 <= 1 Integer
0 <= x37 <= 1 Integer
0 <= x38 <= 1 Integer
0 <= x39 <= 1 Integer
0 <= x4 <= 1 Integer
0 <= x40 <= 1 Integer
0 <= x41 <= 1 Integer
0 <= x42 <= 1 Integer
0 <= x43 <= 1 Integer
0 <= x44 <= 1 Integer
0 <= x45 <= 1 Integer
0 <= x46 <= 1 Integer
0 <= x47 <= 1 Integer
0 <= x48 <= 1 Integer
0 <= x49 <= 1 Integer
0 <= x5 <= 1 Integer
0 <= x50 <= 1 Integer
0 <= x51 <= 1 Integer
0 <= x52 <= 1 Integer
0 <= x53 <= 1 Integer
0 <= x54 <= 1 Integer
0 <= x55 <= 1 Integer
0 <= x56 <= 1 Integer
0 <= x57 <= 1 Integer
0 <= x58 <= 1 Integer
0 <= x6 <= 1 Integer
0 <= x7 <= 1 Integer
0 <= x8 <= 1 Integer
0 <= x9 <= 1 Integer

[x0,
 x1,
 x10,
 x11,
 x12,
 x13,
 x14,
 x15,
 x16,
 x17,
 x18,
 x19,
 x2,
 x20,
 x21,
 x22,
 x23,
 x24,
 x25,
 x26,
 x27,
 x28,
 x29,
 x3,
 x30,
 x31,
 x32,
 x33,
 x34,
 x35,
 x36,
 x37,
 x38,
 x39,
 x4,
 x40,
 x41,
 x42,
 x43,
 x44,
 x45,
 x46,
 x47,
 x48,
 x49,
 x5,
 x50,
 x51,
 x52,
 x53,
 x54,
 x55,
 x56,
 x57,
 x58,
 x6,
 x7,
 x8,
 x9]

In [103]:
Opt_result = prob.solve()

In [106]:


print("Solver status:", pu.LpStatus[prob.status])
print("Optimal Solution to the problem: ", pu.value(prob.objective))
for v in prob.variables():
	print(v.name, "=", v.varValue)

Solver status: Infeasible
Optimal Solution to the problem:  500.0
x0 = 0.0
x1 = 0.0
x10 = 0.0
x11 = 0.0
x12 = 0.0
x13 = 1.0
x14 = 0.0
x15 = 0.0
x16 = 0.0
x17 = 0.0
x18 = 0.0
x19 = 0.0
x2 = 0.0
x20 = 0.0
x21 = 0.0
x22 = 0.0
x23 = 0.0
x24 = 0.0
x25 = 0.0
x26 = 0.0
x27 = 1.0
x28 = 0.0
x29 = 0.0
x3 = 0.0
x30 = 0.0
x31 = 0.0
x32 = 0.0
x33 = 0.0
x34 = 0.0
x35 = 0.0
x36 = 0.0
x37 = 0.0
x38 = 0.0
x39 = 0.0
x4 = 0.0
x40 = 0.0
x41 = 0.0
x42 = 0.0
x43 = 0.0
x44 = 0.0
x45 = 0.0
x46 = 0.0
x47 = 0.0
x48 = 0.0
x49 = 0.0
x5 = 0.0
x50 = 0.0
x51 = 0.0
x52 = 0.0
x53 = 0.0
x54 = 0.0
x55 = 0.0
x56 = 0.0
x57 = 0.0
x58 = 0.0
x6 = 0.0
x7 = 0.0
x8 = 0.0
x9 = 0.0

In [107]:
import re
variable_name = []
variable_value = []

for v in prob.variables():
	variable_name.append(v.name)
	variable_value.append(v.varValue)

df = pd.DataFrame({'variable': variable_name, 'value': variable_value})
for rownum, row in df.iterrows():
	value = re.findall(r'(\d+)', row['variable'])
	df.loc[rownum, 'variable'] = int(value[0])

df = df.sort_values('variable')

#append results
for rownum, row in grouped_df.iterrows():
	for results_rownum, results_row in df.iterrows():
		if rownum == results_row['variable']:
			grouped_df.loc[rownum, 'decision'] = results_row['value']
            
grouped_df[:5]

              Destination  Duration (days)    Cost  decision
0               Amsterdam              7.0   750.0       0.0
1  Amsterdam, Netherlands              8.0  1600.0       0.0
2          Athens, Greece             10.0  1600.0       0.0
3   Auckland, New Zealand              7.0  9500.0       0.0
4               Australia             13.0  1500.0       0.0

In [108]:
grouped_df[grouped_df['decision'] == 1]

   Destination  Duration (days)   Cost  decision
13      Brazil              9.0  200.0       1.0
27       Italy              6.0  300.0       1.0